.cart-item-container {
  width: 100%;
  display: flex;
  margin-bottom: 15px;

  img {
    width: 30%;
  }

  .item-details {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
  }
}
